<nz-spin [nzSpinning]="loading">
  <nz-ribbon [nzText]="getRibbonText()" [nzColor]="getOrderTypeColor()">
    <div class="order-card">
        <div class="order-info">
          <h2 class="text-sm"><strong>Order ID #{{ chefTask.order._id }}</strong></h2>

          <div class="my-5">
            <p><strong>{{chefTask.task.item.itemQuantity}} x {{chefTask.task.item.itemName}}</strong></p>
  
            @if (chefTask.task.item.chosenOptions) {
              @for (option of chefTask.task.item.chosenOptions.add; track $index) {
                <p class="ml-3">Add: {{option.ingredientName}}</p>
              }
      
              @for (option of chefTask.task.item.chosenOptions.no; track $index) {
                <p class="ml-3">No: {{option.ingredientName}}</p>
              }
            }
  
            @if (chefTask.task.item.optionalNotes) {
              <p class="notes ml-3">Notes: {{chefTask.task.item.optionalNotes}}</p>
            }
          </div>
    
          @if (chefTask.order.chef) {
            <p class="chef-name" [ngStyle]="{ backgroundColor: getChefColor() }">
              {{chefTask.order.chef.employeeInformation.name}}
            </p>
          }
    
        </div>
        <div class="status-btn">{{chefTask.order.status.toUpperCase()}}</div>
      </div>
  </nz-ribbon>
</nz-spin>


  
